<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bucket" class="bucket.Bucket">

		<constructor-arg value="Hello"></constructor-arg>
		<constructor-arg>
			<list>
				<value>bucket0</value>
				<value>bucket1</value>
				<value>bucket2</value>
				<value>bucket3</value>
				<value>bucket4</value>
			</list>
		</constructor-arg>
	</bean>
</beans>
