
<h1>About</h1>

<div class="well">
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus convallis consectetur massa, eu convallis magna interdum in.
    Sed ut venenatis quam. Sed non tortor ac sapien cursus suscipit id ut felis.</p>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://www.gravatar.com/avatar/424242">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus convallis consectetur massa, eu convallis magna interdum in.
    Sed ut venenatis quam. Sed non tortor ac sapien cursus suscipit id ut felis.
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://www.gravatar.com/avatar/424242">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus convallis consectetur massa, eu convallis magna interdum in.
    Sed ut venenatis quam. Sed non tortor ac sapien cursus suscipit id ut felis.
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://www.gravatar.com/avatar/424242">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">user@email.com asked:</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus convallis consectetur massa, eu convallis magna interdum in.
    Sed ut venenatis quam. Sed non tortor ac sapien cursus suscipit id ut felis.
  </div>
</div>